<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
    <header th:fragment="header">
        <nav class="uk-navbar-container">
            <img src="images/main_logo.png" class="uk-align-left">
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#"></a></li>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>